* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.woff2") format("woff2"),
    url("Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #333;
  overflow-x: hidden;
}
input,
textarea,
select {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

a {
  color: #333;
}
a:hover,
.submit:hover {
  filter: alpha(opacity = 85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 16px;
  color: #888398;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

/* main */
#main {
  background: url(../Assets/background\ -\ spotlight.svg);
  /* height: 100vh; */
  background-size: cover;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  padding-top: 30px;
  justify-content: space-around;
}
header h1 {
  width: 80px;
}
header h1 a {
}
h1 a img {
  display: block;
  width: 100%;
}
nav {
  width: 60%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
}
header nav ul li a {
  font-weight: bold;
  font-size: 19px;
  color: #080133;
}
header nav ul li a:hover {
  color: #ff7a00;
}

/* header end */

/* spotlight */

#spotlight {
}
#spotlight section.wrapper {
}
#spotlight section.container {
  display: flex;
  padding-top: 180px;
}
#spotlight section.container div.left {
  width: 40%;
}
#spotlight section.container div.left h2 {
  font-size: 70px;
  font-weight: bold;
  color: #080133;
  margin-bottom: 10px;
}
#spotlight section.container div.left h3 {
  font-size: 70px;
  font-weight: bold;
  color: #ff7a00;
  margin-bottom: 30px;
}
#spotlight section.container div.left h4 {
  width: 85%;
  font-size: 22px;
  color: #b0b0b0;
  margin-bottom: 35px;
}
#spotlight section.container div.left a.button {
  background: #fbd573;
  padding: 19px 60px;
  display: inline-block;
  border-radius: 39px;
  font-size: 16px;
  font-weight: 700;
}
#spotlight section.container div.right {
  width: 60%;
  display: flex;
  position: relative;
}
#spotlight section.container div.right div.image_md {
  position: absolute;
  top: 65px;
}
#spotlight section.container div.right div.image_md div.vector {
  width: 360px;
}
#spotlight section.container div.right div.image_md div.vector img {
  width: 100%;
  display: block;
}
#spotlight section.container div.right div.image_mdm {
  position: absolute;
  left: 170px;
}
#spotlight section.container div.right div.image_mdm div.vector_two {
  width: 100%;
}
#spotlight section.container div.right div.image_mdm div.vector_two img {
  width: 100%;
  display: block;
}

/* spotlight end */

/* solution start */

#solution {
  background: url(../Assets/background\ -\ thoran.svg) no-repeat;
  background-size: 700px;
  background-position-x: -50px;
}
#solution section.wrapper {
}
#solution section.container {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
}
#solution section.container div.left {
  width: 50%;
}
#solution section.container div.left div.image_more {
}
#solution section.container div.left div.image_more div.image_left {
  width: 95%;
}
#solution section.container div.left div.image_more div.image_left img {
  width: 100%;
  display: block;
}
#solution section.container div.right {
  width: 50%;
  padding-top: 50px;
}
#solution section.container div.right h2 {
  font-size: 14px;
  color: #ff7a00;
  margin-bottom: 10px;
}
#solution section.container div.right h3 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}
#solution section.container div.right h3 span {
  font-size: 45px;
  font-weight: bold;
  color: #ff7a00;
}
#solution section.container div.right h4 {
  font-size: 18px;
  color: #b0b0b0;
  width: 85%;
  margin-bottom: 35px;
  line-height: 1.6;
}
#solution section.container div.right h4 span {
  color: #ff7a00;
  font-size: 18px;
  font-weight: bold;
}
#solution section.container div.right a.button {
  display: inline-block;
  background: #fbd573;
  padding: 16px 40px;
  border-radius: 31px;
  font-weight: 700;
}
#solution div.best {
  text-align: center;
} 
#solution div.best h6 {
  color: #ff7a00;
}
#solution div.best h3 {

font-size: 40px;

font-weight: bold;
}
#solution div.best h3 span {
  color: #ff7a00
}
#solution div.best p {
  color: #b0b0b0;
  width: 64%;
  margin: 0 auto;
}

/* solution end */

/* logistic start */

#logistics {

  padding: 80px 0;
}
#logistics section.wrapper {

}
#logistics section.container {

}
#logistics section.container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#logistics section.container ul li {
  width: 45%;
  display: flex;
}
#logistics section.container ul li div.img_ar {

}
#logistics section.container ul li div.img_ar div.img_br {

}
#logistics section.container ul li div.img_ar div.img_br img {

}
#logistics section.container ul li h2 {

}
#logistics section.container ul li p {

}